.Button {
  display: block;
  cursor: pointer;
  color: var(--primary-color)
}

.Button svg {
  width: 100%;
  height: auto;
}

.clear {
  background: none;
  border: none;
  padding: 0;
  outline: none;
}

.outline {
  padding: 10px;
  border: var(--primary-color);
  color: var(--primary-color)
}


.background {
  background-color: var(--bg-color);
  border: none;
}
.background_inverted {
  background-color: var(--inverted-bg-color)
}

.square {
  width: 20px;
  height: 20px;
}

.square.size_m {
  width: var(--font-line-m);
  height: fit-content;
}
.square.size_l {
  width: var(--font-line-l);
  height: fit-content;
}
.square.size_xl {
  width: var(--font-line-xl);
  height: fit-content;
}