.SideBar{
  height: calc(100vh - var(--navbar-height));
     width: var(--sidebar-width);
  background: var(--inverted-bg-color);
  transition: width 0.2s ease-in-out;
  position: relative;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}

.switchers {
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: 30px;
  gap: 20px;
  justify-content: center;
}

.collapsed .switchers {
  flex-direction: column;
}

.collapseBtn {
  position: absolute;
  right: -12px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: var(--bg-color);
  color: var(--icons-color);
  padding: 0;
  border-radius: 6px;
  max-height: 24px;
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(180deg);
}

.iconWrapperCollapsed {
  transform: none;
}


.items {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 30px;
}

.link {
  margin-top: 10px;
  display: flex;
  align-content: center;
  gap: 12px;
  justify-content: flex-end;
}

.link_active {

}