.app_dark_theme {
  --bg-color: #475467;
  --inverted-bg-color: #303a52;

  --primary-color: #ee63a3;
  --secondary-color: #85dfd7;

  // text
  --text-color: #e3e2e2;
  --inverted-text-color: #252323;

  --link-color-primary: #e5e3e3;
  --link-color-secondary: #4f4c4c;

  --inverted-link-color-primary: #b4b2b2;
  --inverted-link-color-secondary: #b4b3b3;

  //  icons
  --icons-color: #e1e1e1;

  //  loader
  --color-loader : #ffffff;
}