.app_light_theme {
  --bg-color: #e7e7e7;
  --inverted-bg-color: #444b64;

  --primary-color: #a13c71;
  --secondary-color: #80f4ec;

  // text
  --text-color: #252323;
  --inverted-text-color: #c4c3c3;

  --link-color-primary: #b4b2b2;
  --link-color-secondary: #c7c3c3;

  --inverted-link-color-primary: #2a2a2a;
  --inverted-link-color-secondary: #444242;

  //  icons
  --icons-color: #282727;

  //  loader
  --color-loader : #444b64;
}