.Modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  opacity: 0;
  transition: z-index 0.3s ease-in-out, opacity 0.1s ease-in;
}


.overlay {
  width: 100%;
  height: 100%;
  background-color: var(--overlay-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  padding: 25px;
  border-radius: 12px;
  background-color: var(--bg-color);
  transform: scale(0.2);
  max-width: 60%;
  color: var(--text-color);
  transition: transform 0.2s ease-in-out;
  word-break: break-word;
}


.opened {
  opacity: 1;
  z-index: var(--modal-z-index);

  .content {
    transform: scale(1);
  }
}




.isClosing {
  .content {
    transform: scale(0.2)
  }
}